# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
env/

# Ignore Dockerfile and other configuration files
Dockerfile
requirements.txt
README.md

# Ignore model files if they are large and not needed in the image
model/